.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.label {
  font-size: 600;
}

.input {
  border-radius: 10px;
}

.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  background: tomato;
  margin: 10px 0;
  display: inline-block;
  border: none;
}
