.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  width: 100px;
  background: tomato;
  margin: 5px 20px;
  display: inline-block;
  border: none;
  border-radius: 10px;
}
