.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}

.title {
  border-radius: 10px;
  padding: 10px;
}
